<div>
  <h3>Schedules</h3>
  <%= link_to "Add schedule", new_schedule_path %>
  <% if @schedules.blank? %>
    <p>There are no active schedules</p>
  <% else %>
    <ul class="list-group">
      <% @schedules.each do |schedule| %>
        <li class="list-group-item d-inline-flex flex-row justify-content-between">
          <%= link_to schedule.created_at.to_s, schedule %>
          <span class><%= schedule.tasks.count %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
