<ul>
  <% @tasks.each do |task| %>
    <li></li>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <%= form_for model: :task do |f| %>

      <% end %>
      <label class="form-check-label" for="flexCheckDefault">
        <%= task.title %>
      </label>
    </div>
  <% end %>
</ul>
