<p>started</p>
<%= render partial: "todos/tasks/components/list", locals: { tasks: @tasks.started } %>
<hr />
<p>completed</p>
<%= render partial: "todos/tasks/components/list", locals: { tasks: @tasks.completed } %>

<%= form_with model: @new_task do |f| %>
  <%= f.text_field :title %>
<% end %>
